---
# Encrypt with ansible-vault and place in
# ansible root directory to create
# a new SSH user (full tag only)
  user:
    name: "shane"
    password: "CatsCatsMoreCats!"
    shell: "/bin/bash"
    # Location where keypairs will be stored locally
    ssh_dir: /home/shane/.ansible_user_keys
    ssh_algorithm: ed25519
...
