[duo]
; Duo integration key
ikey = {{ duo.ikey }}

; Duo secret key
skey = {{ duo.skey }}

; Duo API hostname
host = {{ duo.host }}

; Automatically send a push notification to a users's phone
autopush = {{ duo.autopush  }}

; Send information about request (such as command) with push req
pushinfo = {{ duo.pushinfo }}
